In [57]:
import pandas as pd

In [58]:
df = pd.read_csv('data/commodity_trade_statistics_data.csv')
df.columns

Index(['country_or_area', 'year', 'comm_code', 'commodity', 'flow',
       'trade_usd', 'weight_kg', 'quantity_name', 'quantity', 'category'],
      dtype='object')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484634 entries, 0 to 484633
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   country_or_area  484634 non-null  object
 1   year             484634 non-null  int64
 2   comm_code        484634 non-null  int64
 3   commodity        484634 non-null  object
 4   flow             484634 non-null  object
 5   trade_usd        484634 non-null  int64
 6   weight_kg        477974 non-null  float64
 7   quantity_name    484634 non-null  object
 8   quantity         463141 non-null  float64
 9   category         484634 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 37.0+ MB

In [60]:
df.describe()

                year      comm_code     trade_usd     weight_kg      quantity
count  484634.000000  484634.000000  4.846340e+05  4.779740e+05  4.631410e+05
mean     2004.748002   35047.733007  1.466293e+07  6.473281e+06  5.433076e+07
std         7.053002   16020.892577  1.024233e+08  8.864256e+07  1.121482e+10
min      1988.000000   10111.000000  1.000000e+00  0.000000e+00  0.000000e+00
25%      1999.000000   20721.000000  1.060625e+04  1.857000e+03  1.746000e+03
50%      2005.000000   30721.000000  1.508395e+05  3.990150e+04  4.054100e+04
75%      2011.000000   50290.000000  1.947926e+06  6.479848e+05  6.946520e+05
max      2016.000000   71490.000000  6.138120e+09  4.478712e+10  5.372075e+12

In [61]:
years = list(df.year.drop_duplicates())
years.sort()
years[0]

1988

In [62]:
categories = list(df.category.drop_duplicates())
categories.sort()
categories

['01_live_animals',
 '02_meat_and_edible_meat_offal',
 '03_fish_crustaceans_molluscs_aquatic_invertebrates_ne',
 '04_dairy_products_eggs_honey_edible_animal_product_nes',
 '05_products_of_animal_origin_nes',
 '06_live_trees_plants_bulbs_roots_cut_flowers_etc',
 '07_edible_vegetables_and_certain_roots_and_tu',
 '07_edible_vegetables_and_certain_roots_and_tubers']

In [63]:
commodities = list(df.commodity.drop_duplicates())
len(commodities)

264

In [64]:
df.category = df.category.apply(lambda x: '07_edible_vegetables_and_certain_roots_and_tubers' if x == '07_edible_vegetables_and_certain_roots_and_tu' else x)
categories = list(df.category.drop_duplicates())
categories.sort()
categories

['01_live_animals',
 '02_meat_and_edible_meat_offal',
 '03_fish_crustaceans_molluscs_aquatic_invertebrates_ne',
 '04_dairy_products_eggs_honey_edible_animal_product_nes',
 '05_products_of_animal_origin_nes',
 '06_live_trees_plants_bulbs_roots_cut_flowers_etc',
 '07_edible_vegetables_and_certain_roots_and_tubers']

In [65]:
df.groupby(['category']).sum().index

Index(['01_live_animals', '02_meat_and_edible_meat_offal',
       '03_fish_crustaceans_molluscs_aquatic_invertebrates_ne',
       '04_dairy_products_eggs_honey_edible_animal_product_nes',
       '05_products_of_animal_origin_nes',
       '06_live_trees_plants_bulbs_roots_cut_flowers_etc',
       '07_edible_vegetables_and_certain_roots_and_tubers'],
      dtype='object', name='category')

In [66]:
def clean_df(df):
    # Clean categories column, category 7 is repeated
    df.category = df.category.apply(
        lambda x: '07_edible_vegetables_and_certain_roots_and_tubers' \
            if x == '07_edible_vegetables_and_certain_roots_and_tu' else x)
    df['category_num'] = df.category.apply(
        lambda x: int(x[1])
    )

    print(df)
    return df

df_clean  = clean_df(df)
df_clean.columns

       country_or_area  year  comm_code  \
0          Afghanistan  2016      10410
1          Afghanistan  2016      10420
2          Afghanistan  2008      10210
3              Albania  2016      10290
4              Albania  2016      10392
...                ...   ...        ...
484629           Aruba  2014      71339
484630           Aruba  2014      71340
484631           Aruba  2014      71350
484632           Aruba  2014      71390
484633           Aruba  2014      71410

                                              commodity    flow  trade_usd  \
0                                           Sheep, live  Export       6088
1                                           Goats, live  Export       3958
2               Bovine animals, live pure-bred breeding  Import    1026804
3       Bovine animals, live, except pure-bred breeding  Import    2414533
4         Swine, live except pure-bred breeding > 50 kg  Import   14265937
...                                                 ...     ...        ...
484629                        Beans dried, shelled, nes  Import      95967
484630                           Lentils dried, shelled  Import       1197
484631       Broad beans and horse beans dried, shelled  Import        241
484632             Leguminous vegetables dried, shelled  Import     152226
484633                 Manioc (cassava), fresh or dried  Import     159264

        weight_kg        quantity_name  quantity  \
0          2339.0      Number of items      51.0
1           984.0      Number of items      53.0
2           272.0      Number of items    3769.0
3       1114023.0      Number of items    6853.0
4       9484953.0      Number of items   96040.0
...           ...                  ...       ...
484629    42420.0  Weight in kilograms   42420.0
484630     1019.0  Weight in kilograms    1019.0
484631      119.0  Weight in kilograms     119.0
484632   109098.0  Weight in kilograms  109098.0
484633    76346.0  Weight in kilograms   76346.0

                                                 category  category_num
0                                         01_live_animals             1
1                                         01_live_animals             1
2                                         01_live_animals             1
3                                         01_live_animals             1
4                                         01_live_animals             1
...                                                   ...           ...
484629  07_edible_vegetables_and_certain_roots_and_tubers             7
484630  07_edible_vegetables_and_certain_roots_and_tubers             7
484631  07_edible_vegetables_and_certain_roots_and_tubers             7
484632  07_edible_vegetables_and_certain_roots_and_tubers             7
484633  07_edible_vegetables_and_certain_roots_and_tubers             7

[484634 rows x 11 columns]

Index(['country_or_area', 'year', 'comm_code', 'commodity', 'flow',
       'trade_usd', 'weight_kg', 'quantity_name', 'quantity', 'category',
       'category_num'],
      dtype='object')

In [70]:
years_range = [1999, 1998, 2000, 2001, 2002, 2003]

df_short = df[df['year'].isin(years_range)]
df_short = df_short.groupby(['category_num']).sum().sort_values(by='trade_usd', ascending=False)
df_short

                  year  comm_code     trade_usd     weight_kg      quantity
category_num
2             48109944  495001457  318029289118  1.728841e+11  1.728274e+11
4             48187205  975208814  305820183996  2.313230e+11  4.556786e+11
3             49201273  749042876  164953517575  6.688828e+10  6.724911e+10
6             29180934  879558362  122089026698  5.160093e+10  1.469279e+11
1             27350086  142014833  114117742410  4.852844e+10  1.322808e+11
5             29044641  736473686   50431504437  4.432489e+10  4.432489e+10
7              3924915  139115830    2732390925  6.203593e+09  6.203593e+09

In [75]:
list(df_short.index)

[2, 4, 3, 6, 1, 5, 7]

In [78]:
for i in range(10):
    if i > 3:
        print('mas se nao fizer os TPC:')
        print('\n')
        print('A viviana nao e nada nice!!')
    else:
        print('A viviana e bueda nice!!')

A viviana e bueda nice!!
A viviana e bueda nice!!
A viviana e bueda nice!!
A viviana e bueda nice!!
mas se nao fizer os TPC:


A viviana nao e nada nice!!
mas se nao fizer os TPC:


A viviana nao e nada nice!!
mas se nao fizer os TPC:


A viviana nao e nada nice!!
mas se nao fizer os TPC:


A viviana nao e nada nice!!
mas se nao fizer os TPC:


A viviana nao e nada nice!!
mas se nao fizer os TPC:


A viviana nao e nada nice!!

In [ ]:
for var in range(5):
    print(var)
    print('banana')