In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/commodity_trade_statistics_data.csv')
df.columns

Index(['country_or_area', 'year', 'comm_code', 'commodity', 'flow',
       'trade_usd', 'weight_kg', 'quantity_name', 'quantity', 'category'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484634 entries, 0 to 484633
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   country_or_area  484634 non-null  object
 1   year             484634 non-null  int64
 2   comm_code        484634 non-null  int64
 3   commodity        484634 non-null  object
 4   flow             484634 non-null  object
 5   trade_usd        484634 non-null  int64
 6   weight_kg        477974 non-null  float64
 7   quantity_name    484634 non-null  object
 8   quantity         463141 non-null  float64
 9   category         484634 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 37.0+ MB

In [5]:
df.describe()

                year      comm_code     trade_usd     weight_kg      quantity
count  484634.000000  484634.000000  4.846340e+05  4.779740e+05  4.631410e+05
mean     2004.748002   35047.733007  1.466293e+07  6.473281e+06  5.433076e+07
std         7.053002   16020.892577  1.024233e+08  8.864256e+07  1.121482e+10
min      1988.000000   10111.000000  1.000000e+00  0.000000e+00  0.000000e+00
25%      1999.000000   20721.000000  1.060625e+04  1.857000e+03  1.746000e+03
50%      2005.000000   30721.000000  1.508395e+05  3.990150e+04  4.054100e+04
75%      2011.000000   50290.000000  1.947926e+06  6.479848e+05  6.946520e+05
max      2016.000000   71490.000000  6.138120e+09  4.478712e+10  5.372075e+12

In [6]:
years = list(df.year.drop_duplicates())
years.sort()
years[0]

1988

In [7]:
categories = list(df.category.drop_duplicates())
categories.sort()
categories

['01_live_animals',
 '02_meat_and_edible_meat_offal',
 '03_fish_crustaceans_molluscs_aquatic_invertebrates_ne',
 '04_dairy_products_eggs_honey_edible_animal_product_nes',
 '05_products_of_animal_origin_nes',
 '06_live_trees_plants_bulbs_roots_cut_flowers_etc',
 '07_edible_vegetables_and_certain_roots_and_tu',
 '07_edible_vegetables_and_certain_roots_and_tubers']

In [8]:
commodities = list(df.commodity.drop_duplicates())
len(commodities)

264

In [9]:
df.category = df.category.apply(lambda x: '07_edible_vegetables_and_certain_roots_and_tubers' if x == '07_edible_vegetables_and_certain_roots_and_tu' else x)
categories = list(df.category.drop_duplicates())
categories.sort()
categories

['01_live_animals',
 '02_meat_and_edible_meat_offal',
 '03_fish_crustaceans_molluscs_aquatic_invertebrates_ne',
 '04_dairy_products_eggs_honey_edible_animal_product_nes',
 '05_products_of_animal_origin_nes',
 '06_live_trees_plants_bulbs_roots_cut_flowers_etc',
 '07_edible_vegetables_and_certain_roots_and_tubers']

In [10]:
df.groupby(['category']).sum().index

Index(['01_live_animals', '02_meat_and_edible_meat_offal',
       '03_fish_crustaceans_molluscs_aquatic_invertebrates_ne',
       '04_dairy_products_eggs_honey_edible_animal_product_nes',
       '05_products_of_animal_origin_nes',
       '06_live_trees_plants_bulbs_roots_cut_flowers_etc',
       '07_edible_vegetables_and_certain_roots_and_tubers'],
      dtype='object', name='category')

In [11]:
def clean_df(df):
    # Clean categories column, category 7 is repeated
    df.category = df.category.apply(
        lambda x: '07_edible_vegetables_and_certain_roots_and_tubers' \
            if x == '07_edible_vegetables_and_certain_roots_and_tu' else x)
    df['category_num'] = df.category.apply(
        lambda x: int(x[1])
    )

    print(df)
    return df

df_clean  = clean_df(df)
df_clean.columns

       country_or_area  year  comm_code  \
0          Afghanistan  2016      10410
1          Afghanistan  2016      10420
2          Afghanistan  2008      10210
3              Albania  2016      10290
4              Albania  2016      10392
...                ...   ...        ...
484629           Aruba  2014      71339
484630           Aruba  2014      71340
484631           Aruba  2014      71350
484632           Aruba  2014      71390
484633           Aruba  2014      71410

                                              commodity    flow  trade_usd  \
0                                           Sheep, live  Export       6088
1                                           Goats, live  Export       3958
2               Bovine animals, live pure-bred breeding  Import    1026804
3       Bovine animals, live, except pure-bred breeding  Import    2414533
4         Swine, live except pure-bred breeding > 50 kg  Import   14265937
...                                                 ...     ...        ...
484629                        Beans dried, shelled, nes  Import      95967
484630                           Lentils dried, shelled  Import       1197
484631       Broad beans and horse beans dried, shelled  Import        241
484632             Leguminous vegetables dried, shelled  Import     152226
484633                 Manioc (cassava), fresh or dried  Import     159264

        weight_kg        quantity_name  quantity  \
0          2339.0      Number of items      51.0
1           984.0      Number of items      53.0
2           272.0      Number of items    3769.0
3       1114023.0      Number of items    6853.0
4       9484953.0      Number of items   96040.0
...           ...                  ...       ...
484629    42420.0  Weight in kilograms   42420.0
484630     1019.0  Weight in kilograms    1019.0
484631      119.0  Weight in kilograms     119.0
484632   109098.0  Weight in kilograms  109098.0
484633    76346.0  Weight in kilograms   76346.0

                                                 category  category_num
0                                         01_live_animals             1
1                                         01_live_animals             1
2                                         01_live_animals             1
3                                         01_live_animals             1
4                                         01_live_animals             1
...                                                   ...           ...
484629  07_edible_vegetables_and_certain_roots_and_tubers             7
484630  07_edible_vegetables_and_certain_roots_and_tubers             7
484631  07_edible_vegetables_and_certain_roots_and_tubers             7
484632  07_edible_vegetables_and_certain_roots_and_tubers             7
484633  07_edible_vegetables_and_certain_roots_and_tubers             7

[484634 rows x 11 columns]

Index(['country_or_area', 'year', 'comm_code', 'commodity', 'flow',
       'trade_usd', 'weight_kg', 'quantity_name', 'quantity', 'category',
       'category_num'],
      dtype='object')

In [12]:
years_range = [1999, 1998, 2000, 2001, 2002, 2003]

df_short = df[df['year'].isin(years_range)]
df_short = df_short.groupby(['category_num']).sum().sort_values(by='trade_usd', ascending=False)
df_short

                  year  comm_code     trade_usd     weight_kg      quantity
category_num
2             48109944  495001457  318029289118  1.728841e+11  1.728274e+11
4             48187205  975208814  305820183996  2.313230e+11  4.556786e+11
3             49201273  749042876  164953517575  6.688828e+10  6.724911e+10
6             29180934  879558362  122089026698  5.160093e+10  1.469279e+11
1             27350086  142014833  114117742410  4.852844e+10  1.322808e+11
5             29044641  736473686   50431504437  4.432489e+10  4.432489e+10
7              3924915  139115830    2732390925  6.203593e+09  6.203593e+09

In [13]:
list(df_clean['category_num'].drop_duplicates())

[1, 2, 3, 4, 5, 6, 7]

In [14]:
df_20 = df_clean[df_clean['year']>=1986]
df_20 = df_20[df_20['category_num'] == 2]
df_20['year'].unique()
df_20.groupby('year').sum()['trade_usd']

year
1988     11263367685
1989     17425289502
1990     19752136552
1991     20564900126
1992     27046875052
1993     26564755181
1994     41594273351
1995     50627675355
1996     50518611855
1997     48840931234
1998     46024142657
1999     46498130087
2000     52723672774
2001     54989438410
2002     54981835264
2003     62812069926
2004     74731105642
2005     83342281579
2006     87379704025
2007    100252740512
2008    122765147730
2009    111393101219
2010    122910376817
2011    146098948116
2012    142766908319
2013    151235497025
2014    158017052122
2015    137542999511
2016    122405107410
Name: trade_usd, dtype: int64

In [15]:
list(df_20.groupby('year').sum().index)

[1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016]

In [23]:
# df_clean.sort_values(by='trade_usd', ascending=False)

top_50 = list(df_clean.groupby('country_or_area').sum().sort_values(by='trade_usd', ascending=False).head(50).index)
top_50

['EU-28',
 'Germany',
 'Netherlands',
 'France',
 'China',
 'Italy',
 'Denmark',
 'Canada',
 'Japan',
 'Belgium',
 'Australia',
 'China, Hong Kong SAR',
 'Brazil',
 'USA',
 'New Zealand',
 'Ireland',
 'Argentina',
 'Chile',
 'Austria',
 'United Kingdom',
 'Greece',
 'Poland',
 'Mexico',
 'Czech Rep.',
 'Hungary',
 'Fmr Fed. Rep. of Germany',
 'India',
 'Belgium-Luxembourg',
 'Spain',
 'Ecuador',
 'Colombia',
 'Belarus',
 'Egypt',
 'Algeria',
 'Indonesia',
 'Malaysia',
 'Finland',
 'Portugal',
 'Switzerland',
 'Other Asia, nes',
 'Croatia',
 'Russian Federation',
 'Lithuania',
 'Saudi Arabia',
 'Philippines',
 'Bulgaria',
 'Oman',
 'Bangladesh',
 'Jordan',
 'Israel']

In [31]:
df_top_50 = df_clean[df_clean['country_or_area'].isin(top_50)]
years_range = [1998, 1999, 2000]
years_range = [1998, 1998]
df_top_50 = df_top_50[df_top_50['year'].isin(years_range)]
df_top_50
# df_top_50 = df_top_50[df_top_50['country_or_area'] == 'Oman']
# df_top_50.groupby('category').sum()

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category,category_num
407,Algeria,1998,10111,"Horses, live pure-bred breeding",Import,50869,6812.0,Weight in kilograms,6812.0,01_live_animals,1
408,Algeria,1998,10210,"Bovine animals, live pure-bred breeding",Import,111854,47500.0,Weight in kilograms,47500.0,01_live_animals,1
409,Algeria,1998,10290,"Bovine animals, live, except pure-bred breeding",Import,20775256,9054979.0,Weight in kilograms,9054979.0,01_live_animals,1
410,Algeria,1998,10420,"Goats, live",Import,5570,757.0,Weight in kilograms,757.0,01_live_animals,1
411,Algeria,1998,10511,"Fowls, live domestic < 185 grams",Import,8201696,255126.0,Weight in kilograms,255126.0,01_live_animals,1
...,...,...,...,...,...,...,...,...,...,...,...
483262,Argentina,1998,71410,"Manioc (cassava), fresh or dried",Import,344,6000.0,Weight in kilograms,6000.0,07_edible_vegetables_and_certain_roots_and_tubers,7
483263,Argentina,1998,71420,"Sweet potatoes, fresh or dried",Import,93561,714237.0,Weight in kilograms,714237.0,07_edible_vegetables_and_certain_roots_and_tubers,7
483264,Argentina,1998,71420,"Sweet potatoes, fresh or dried",Export,271209,1456724.0,Weight in kilograms,1456724.0,07_edible_vegetables_and_certain_roots_and_tubers,7
483265,Argentina,1998,71490,"Arrowroot, salep, etc fresh or dried and sago ...",Import,8385,1947.0,Weight in kilograms,1947.0,07_edible_vegetables_and_certain_roots_and_tubers,7
483266,Argentina,1998,71490,"Arrowroot, salep, etc fresh or dried and sago ...",Export,3,8.0,Weight in kilograms,8.0,07_edible_vegetables_and_certain_roots_and_tubers,7

In [40]:
europe_countries = pd.read_csv('data/list-european-countries.csv')
europe_countries = list(europe_countries[europe_countries.columns[0]])
df_countries = list(df_clean['country_or_area'].unique())
selected_european_countries = []
for i in europe_countries:
    if i in df_countries:
        selected_european_countries.append(i)

len(selected_european_countries)

35